RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^home$ index.html [L]
RewriteRule ^about$ about.html [L]
RewriteRule ^brands$ brands.html [L]
RewriteRule ^branch$ branch.html [L]
RewriteRule ^contact$ contact.html [L]



RewriteRule ^products/filter$ products/filter.php [L]
RewriteRule ^products/battery$ products/battery.php [L]
RewriteRule ^products/marine-spare-parts$ products/marine-spare-parts.php [L]

RewriteRule ^products/engin-parts$ products/engin-parts.php [L]
RewriteRule ^products/electrical-parts$ products/electrical-parts.php [L]
RewriteRule ^products/body-parts$ products/body-parts.php [L]
RewriteRule ^products/suspenssion$ products/suspenssion.php [L]
RewriteRule ^products/ac-parts$ products/ac-parts.php [L]
RewriteRule ^products/other-parts$ products/other-parts.php [L]

RewriteRule ^products/battery/([^/]+)/? products/product-details.php?url=$1 [L,QSA]
RewriteRule ^products/filter/([^/]+)/? products/product-details.php?url=$1 [L,QSA]
RewriteRule ^products/marine-spare-parts/([^/]+)/? products/product-details.php?url=$1 [L,QSA]

RewriteRule ^products/engin-parts/([^/]+)/? products/product-details.php?url=$1 [L,QSA]
RewriteRule ^products/electrical-parts/([^/]+)/? products/product-details.php?url=$1 [L,QSA]
RewriteRule ^products/body-parts/([^/]+)/? products/product-details.php?url=$1 [L,QSA]
RewriteRule ^products/suspenssion/([^/]+)/? products/product-details.php?url=$1 [L,QSA]
RewriteRule ^products/ac-parts/([^/]+)/? products/product-details.php?url=$1 [L,QSA]
RewriteRule ^products/other-parts/([^/]+)/? products/product-details.php?url=$1 [L,QSA]